In [5]:
import numpy as numpy
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
df=pd.read_csv('rawdata.csv')

C:\Users\ravib\AppData\Local\Temp\ipykernel_6588\2867232935.py:1: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('rawdata.csv')

In [7]:
df

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,68ccaec8-1415-4301-a85e-3004679a3a83,Cassie Moore,https://play-lh.googleusercontent.com/a/ALm5wu...,No words,5,0,27.1.3,2022-11-29 21:55:37,NaN,NaN
1,d84cbfd3-6aa3-485c-aaf9-c5dca27dc966,Kaleb Plummer,https://play-lh.googleusercontent.com/a-/ACNPE...,Great fun app so far!,5,0,NaN,2022-11-29 21:55:04,NaN,NaN
2,96618aa1-31e5-4259-8649-89b75d962f00,Rylee Maher,https://play-lh.googleusercontent.com/a/ALm5wu...,The app would get a higher rating but I litera...,1,0,27.1.3,2022-11-29 21:54:48,NaN,NaN
3,078c0bda-598b-474e-a04e-d7cb3e6f6301,Kittykatelyn Romilly,https://play-lh.googleusercontent.com/a-/ACNPE...,I WISH I COULD GIVE THIS A 100 PERCENT RATING ...,5,0,NaN,2022-11-29 21:54:35,NaN,NaN
4,8e68c5cd-b12a-4206-a8da-6bfdbff44ae3,Loveness Malenga,https://play-lh.googleusercontent.com/a-/ACNPE...,Pictures and record,5,0,NaN,2022-11-29 21:54:21,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
460282,73cf78fe-599d-4488-8a8b-ae443847303b,hera killar,https://play-lh.googleusercontent.com/a-/ACNPE...,üòçüòç,5,0,NaN,2022-06-18 12:35:32,NaN,NaN
460283,16d331c8-ba21-4aeb-ac01-dec455ca48ad,Hiox Softwares,https://play-lh.googleusercontent.com/a/ALm5wu...,Very nice,1,0,NaN,2022-06-18 12:35:25,NaN,NaN
460284,fbb86777-b885-4f76-b49e-13e424aa5afc,Md. Zahid Hasan,https://play-lh.googleusercontent.com/a-/ACNPE...,Nice,5,0,24.8.3,2022-06-18 12:34:39,NaN,NaN
460285,28df682c-bb17-4224-8658-642a92a2c723,Ash Ryan,https://play-lh.googleusercontent.com/a-/ACNPE...,TikTok love your sad,5,0,NaN,2022-06-18 12:34:38,NaN,NaN
460286,1cfbb2b3-fb0b-4f4b-8963-9e2b803f24dc,Haroon Jaan,https://play-lh.googleusercontent.com/a/ALm5wu...,Good to use haroon_231,5,0,24.8.3,2022-06-18 12:34:32,NaN,NaN

In [14]:
# delete row reviewid
df.drop(['thumbsUpCount','reviewCreatedVersion'], axis=1, inplace=True)

In [15]:
df

,userName,content,at
0,Cassie Moore,No words,2022-11-29 21:55:37
1,Kaleb Plummer,Great fun app so far!,2022-11-29 21:55:04
2,Rylee Maher,The app would get a higher rating but I litera...,2022-11-29 21:54:48
3,Kittykatelyn Romilly,I WISH I COULD GIVE THIS A 100 PERCENT RATING ...,2022-11-29 21:54:35
4,Loveness Malenga,Pictures and record,2022-11-29 21:54:21
...,...,...,...
460282,hera killar,üòçüòç,2022-06-18 12:35:32
460283,Hiox Softwares,Very nice,2022-06-18 12:35:25
460284,Md. Zahid Hasan,Nice,2022-06-18 12:34:39
460285,Ash Ryan,TikTok love your sad,2022-06-18 12:34:38
460286,Haroon Jaan,Good to use haroon_231,2022-06-18 12:34:32

In [17]:
#delete row in content colum which contains less than 3 words
df2=df

In [18]:
df['word_count'] = df['content'].apply(lambda x: len(str(x).split(' ')))
df = df[df['word_count'] >= 3]

In [ ]:
#new colum for sentiment analysis

In [20]:
df

,userName,content,at,word_count
1,Kaleb Plummer,Great fun app so far!,2022-11-29 21:55:04,5
2,Rylee Maher,The app would get a higher rating but I litera...,2022-11-29 21:54:48,73
3,Kittykatelyn Romilly,I WISH I COULD GIVE THIS A 100 PERCENT RATING ...,2022-11-29 21:54:35,15
4,Loveness Malenga,Pictures and record,2022-11-29 21:54:21,3
5,Melvin Crawford,I love this amazing app,2022-11-29 21:52:53,5
...,...,...,...,...
460277,Calon Jansen,I like the experience of advertising your tale...,2022-06-18 12:36:55,10
460278,RASAKI MURIANO,I'm really enjoying it,2022-06-18 12:36:52,4
460281,Bff Mavneet,I love it,2022-06-18 12:36:19,3
460285,Ash Ryan,TikTok love your sad,2022-06-18 12:34:38,4
460286,Haroon Jaan,Good to use haroon_231,2022-06-18 12:34:32,4

In [26]:
#copy d3 75 rows to new dataframe
df=pd.read_csv('cldata.csv')
df3 = df.head(75).copy()

In [28]:
import json
dfj=pd.read_json('tune.json')

In [31]:
dfj = dfj.head(75).copy()
dfj

    index    sentiment              summary
0       1      neutral                   NA
1       2     positive            Great app
2       3  bugCritical        Sign-in issue
3       4     positive   100 percent rating
4       5      neutral                   NA
..    ...          ...                  ...
70     71     positive                 nice
71     72     positive  My Favourite TikTok
72     73     positive                 Good
73     74     positive          That's nice
74     75      request  Dream 20k followers

[75 rows x 3 columns]

In [32]:
df3

,Unnamed: 0.1,Unnamed: 0,userName,content,at
0,0,0,Cassie Moore,"""No words""",2022-11-29 21:55:37
1,1,1,Kaleb Plummer,"""Great fun app so far!""",2022-11-29 21:55:04
2,2,2,Rylee Maher,"""The app would get a higher rating but I liter...",2022-11-29 21:54:48
3,3,3,Kittykatelyn Romilly,"""I WISH I COULD GIVE THIS A 100 PERCENT RATING...",2022-11-29 21:54:35
4,4,4,Loveness Malenga,"""Pictures and record""",2022-11-29 21:54:21
...,...,...,...,...,...
70,70,70,√É¬é√Ç¬ß√É¬è√Ç¬Å√É¬é√Ç¬Æ√É¬è√Ç¬É√É¬è√Ç¬Ñ√É¬é√Ç¬ø√É¬è√Ç¬Ç √É¬é√Ç¬ú√É¬è√Ç¬Ä√É¬é√Ç¬µ√É¬é√Ç¬∫√É...,"""√É¬¢√Ç¬ò√Ç¬ò√É¬Ø√Ç¬∏√Ç¬è""",2022-11-29 20:57:31
71,71,71,Shahab Kings,"""nice""",2022-11-29 20:57:26
72,72,72,Pardesi Munda,"""My Favourite TikTok""",2022-11-29 20:56:09
73,73,73,Gulzar Khan,"""Good""",2022-11-29 20:55:02
74,74,74,Elimu Endelevu,"""That's nice""",2022-11-29 20:54:50

In [33]:
#drop Unnamed: 0.1	and unamed: 0
df3.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1, inplace=True)

In [34]:
df3

,userName,content,at
0,Cassie Moore,"""No words""",2022-11-29 21:55:37
1,Kaleb Plummer,"""Great fun app so far!""",2022-11-29 21:55:04
2,Rylee Maher,"""The app would get a higher rating but I liter...",2022-11-29 21:54:48
3,Kittykatelyn Romilly,"""I WISH I COULD GIVE THIS A 100 PERCENT RATING...",2022-11-29 21:54:35
4,Loveness Malenga,"""Pictures and record""",2022-11-29 21:54:21
...,...,...,...
70,√É¬é√Ç¬ß√É¬è√Ç¬Å√É¬é√Ç¬Æ√É¬è√Ç¬É√É¬è√Ç¬Ñ√É¬é√Ç¬ø√É¬è√Ç¬Ç √É¬é√Ç¬ú√É¬è√Ç¬Ä√É¬é√Ç¬µ√É¬é√Ç¬∫√É...,"""√É¬¢√Ç¬ò√Ç¬ò√É¬Ø√Ç¬∏√Ç¬è""",2022-11-29 20:57:31
71,Shahab Kings,"""nice""",2022-11-29 20:57:26
72,Pardesi Munda,"""My Favourite TikTok""",2022-11-29 20:56:09
73,Gulzar Khan,"""Good""",2022-11-29 20:55:02
74,Elimu Endelevu,"""That's nice""",2022-11-29 20:54:50

In [38]:
#concanate dfj and df3
df4 = pd.concat([df3, dfj], axis=1)

In [40]:
#drop index column
df4.drop(['index'], axis=1, inplace=True)

In [41]:
df4

,userName,content,at,sentiment,summary
0,Cassie Moore,"""No words""",2022-11-29 21:55:37,neutral,NA
1,Kaleb Plummer,"""Great fun app so far!""",2022-11-29 21:55:04,positive,Great app
2,Rylee Maher,"""The app would get a higher rating but I liter...",2022-11-29 21:54:48,bugCritical,Sign-in issue
3,Kittykatelyn Romilly,"""I WISH I COULD GIVE THIS A 100 PERCENT RATING...",2022-11-29 21:54:35,positive,100 percent rating
4,Loveness Malenga,"""Pictures and record""",2022-11-29 21:54:21,neutral,NA
...,...,...,...,...,...
70,√É¬é√Ç¬ß√É¬è√Ç¬Å√É¬é√Ç¬Æ√É¬è√Ç¬É√É¬è√Ç¬Ñ√É¬é√Ç¬ø√É¬è√Ç¬Ç √É¬é√Ç¬ú√É¬è√Ç¬Ä√É¬é√Ç¬µ√É¬é√Ç¬∫√É...,"""√É¬¢√Ç¬ò√Ç¬ò√É¬Ø√Ç¬∏√Ç¬è""",2022-11-29 20:57:31,positive,nice
71,Shahab Kings,"""nice""",2022-11-29 20:57:26,positive,My Favourite TikTok
72,Pardesi Munda,"""My Favourite TikTok""",2022-11-29 20:56:09,positive,Good
73,Gulzar Khan,"""Good""",2022-11-29 20:55:02,positive,That's nice
74,Elimu Endelevu,"""That's nice""",2022-11-29 20:54:50,request,Dream 20k followers

In [ ]:
#save to csv
df4.to_csv('tune.csv')